<%- include('../header.ejs') %>

    <!-- table start -->


    <div class="container-fluid mb-4 pb-4 mt-5 pt-5">
        <div class="container">
            <% if(message.length > 0){ %>
                <div class="alert alert-success">
                    <%= message %>
                </div>
            <% } %>

            <table class="table table-bordered table-striped table-hover mt-5">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Mobile Number</th>
                        <th>Status</th>
                        <th>Comment</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% d.forEach((item)=>{ %>
                        <tr>
                            <td><%= item._id %></td>                          
                            <td><%= item.name %></td>
                            <td><%= item.email %></td>
                            <td><%= item.mobile %></td>
                            <td><%= item.status %></td>
                            <td><%= item.comment %></td>
                            <td>
                                <a href="/course_view/<%= item._id %>" class="btn btn-info">View</a>
                                <a href="/course_edit/<%= item._id %>" class="btn btn-primary">Edit</a>
                                <!-- <a href="/course_delete/<%= item._id %>" class="btn btn-danger">Delete</a> -->
                            </td>
                        </tr>
                    <%}) %>
                </tbody>
            </table>

        </div>
    </div>

    <%- include('../footer.ejs') %>